body {
  font-family: arial;
}
.mama {
  background-color: black;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 40px;
}
.heymama {
  background-color: rgb(240, 240, 240);
  color: black;
  /* font-weight: bold; */
}
.hello {
  padding: 10px;
  font-size: 15px;
}
.master {
  padding: 12px 10px;
  border: none;
  font-size: 15px;
  background-color: rgb(7, 209, 7);
  color: white;
  cursor: pointer;
}
.nott {
  margin-top: 60px;
}
.yugandhar {
  /* font-family: Arial; */
  background-color: rgb(240, 240, 240);
  color: black;
}
